<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cham soc</title>
    <link rel="stylesheet" href="../css/chamsoc.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <div class="container">
        <div class="sidebar" id="sidebar1">
            <h2 class="font-extrabold text-2xl">StaySerene</h2>
            <ul>
                
                <li><a href="phanhoinv.html"id="phanhoi">Phản hồi của khách hàng</a></li>
                <li><a href="chamsocnv.html" id="chamsoc" class="namepage">Chăm sóc khách hàng</a></li>
                <li><a href="quanlydatphongnv.html" id="lichsu" >Lịch sử đặt phòng</a></li>
                <li><a href="datphong.html" id="datphong" >Đặt Phòng</a></li>
                <li><a href="phongnv.html" id="phong">Quản lý phòng</a></li>


                <li><a href="#" id="đăng xuất" onclick="confirmLogout(event)">Đăng xuất</a></li>
            </ul>

        </div>
        
        <div class="chat-container">
            <!-- Sidebar section -->
            <div class="sidebar">
                <div class="search-bar">
                    <input type="text" id="searchInput" placeholder="Tìm kiếm theo username" />
                </div>
                <ul class="chat-list">
                    <!-- Chat user list here -->
                </ul>
            </div>
        
            <!-- Chat area section -->
            <div class="chat-area">
                <div class="chat-messages">
                    <!-- Chat messages will appear here -->
                </div>
                <div class="message-input">
                    <input type="text" placeholder="Aa">
                    <button id="gui-button">Gửi</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/chamsocnv.js"></script>
</body>
</html>