<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập Nhân Viên</title>
    <link rel="stylesheet" href="../css/dangnhapnv.css">
</head>
<body>
    <div class="login-container">
        <div class="login-card">
            <div class="login-icon">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmpoQaaw13BKAmYv1iRPzkz9AkM0ZskCqK_g&s" alt="User Icon">
            </div>
            <h2>Nhân Viên Đăng Nhập</h2>
            <form onsubmit="return login()">
                <div class="input-group">
                    <label for="Email">Email :</label>
                    <input type="email" id="Email" name="Email" required>
                </div>
                <div class="input-group">
                    <label for="password">Mật Khẩu :</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">ĐĂNG NHẬP</button>
            </form>
        </div>
    </div>
    <script src="../js/dangnhapnv.js"></script>
</body>
</html>