<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>phan hoi</title>
    <link rel="stylesheet" href="../css/phanhoi.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2 class="font-extrabold text-2xl">StaySerene</h2>
            <ul>
                <li><a href="phanhoinv.html"id="phanhoi"  class="namepage">Phản hồi của khách hàng</a></li>
                <li><a href="chamsocnv.html" id="chamsoc">Chăm sóc khách hàng</a></li>
                <li><a href="quanlydatphongnv.html" id="lichsu" >Lịch sử đặt phòng</a></li>
                <li><a href="datphong.html" id="datphong" >Đặt Phòng</a></li>
                <li><a href="phongnv.html" id="phong" >Quản lý phòng</a></li>


                <li><a href="#" id="đăng xuất" onclick="confirmLogout(event)">Đăng xuất</a></li>


            </ul>
        </div>

        <div class="main-content" id="main-content">
            <div class="header">
                <h1 class="font-bold text-xl">Phản hồi khách hàng</h1>
            </div>

            <!-- Danh sách phản hồi -->
            <div class="feedback-list">
                <table> 
                    <thead>
                        <tr>
                            <th>Tên khách hàng</th>
                            <th>Nội dung phản hồi</th>
                            <th>Ngày phản hồi</th>
                        </tr>
                    </thead>
                    <tbody id="customer-list">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="../js/phanhoi.js"></script>

</body>
</html>