<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>phan hoi</title>
    <link rel="stylesheet" href="../css/phanhoi.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>StaySerene</h2>
            <ul>
                <li><a href="phanhoinv.html"id="phanhoi"  class="namepage">Phản hồi của khách hàng</a></li>
                <li><a href="chamsocnv.html" id="chamsoc">Chăm sóc khách hàng</a></li>
                <li><a href="quanlydatphongnv.html" id="lichsu" >Lịch sử đặt phòng</a></li>
                <li><a href="#" id="đăng xuất" onclick="confirmLogout(event)">Đăng xuất</a></li>


            </ul>
        </div>

        <div class="main-content" id="main-content">
            <div class="header">
                <h1>Phản hồi khách hàng</h1>
                <div class="button-group">
                    <div class="form-search">
                        <input type="text" id="search-maphanhoi" placeholder="Tìm kiếm Mã Phản Hồi">
                        <input type="text" id="search-maphong" placeholder="Tìm kiếm Mã Phòng ">
                        <input type="text" id="search-makhachhang" placeholder="Tìm kiếm Mã Khách Hàng">
                        <input type="text" id="search-tenkhachhang" placeholder="Tìm kiếm Tên Khách hàng">
                        <button id="search-button">Tìm Kiếm</button>

                    </div>
                </div>
            </div>

            <!-- Danh sách phản hồi -->
            <div class="feedback-list">
                <h2>Danh Sách Phản Hồi</h2>
                <table> 
                    <thead>
                        <tr>
                            <th>Mã phản hồi</th>
                            <th>Mã Phòng</th>
                            <th>Mã khách hàng</th>
                            <th>Tên khách hàng</th>
                            <th>Nội dung phản hồi</th>
                            <th>Ngày phản hồi</th>
                        </tr>
                    </thead>
                    <tbody id="customer-list">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="../js/phanhoi.js"></script>

</body>
</html>