<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Management</title>
    <link rel="stylesheet" href="../css/phong.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <h2 class="font-extrabold text-2xl">StaySerene</h2>
            <ul>
                <li><a href="phanhoinv.html"id="phanhoi" >Phản hồi của khách hàng</a></li>
                <li><a href="chamsocnv.html" id="chamsoc">Chăm sóc khách hàng</a></li>
                <li><a href="quanlydatphongnv.html" id="lichsu" >Lịch sử đặt phòng</a></li>
                <li><a href="datphong.html" id="datphong" >Đặt Phòng</a></li>
                <li><a href="phongnv.html" id="phong" class="namepage">Quản lý phòng</a></li>

                <li><a href="#" id="đăng xuất" onclick="confirmLogout(event)">Đăng xuất</a></li>

            </ul>
        </div>

        <div class="main-content mt-5" id="main-content">
            <div class="main-content flex gap-10">
                <div class="form-section w-[25%] ">
                    <div class="">
                        <form id="customer-form" class="">
                            <input type="text" id="maphong" style="width: 0px;height: 0px;" name="maphong" disabled>
                            <div class="form-group">
                                <label for="phong">Loại Phòng :</label>
                                <select type="text" id="tenloaiphong" class="tenloaiphong" placeholder="Tên loại phòng"
                                    autocomplete="off">
                                    <option value="">Chọn Loại Phòng</option>
                                </select>
                            </div>

                            <input type="hidden" id="maloaiphong" class="maloaiphong" />

                            <div class="form-group">
                                <label for="phong">Phòng:</label>
                                <div class="form-maks">
                                    <input type="number" id="sophong" class="sophong" placeholder="Nhập Số phòng" />
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phong">Tầng:</label>
                                    <input type="number" id="sotang" class="soTang" placeholder="Số tầng">
                                    </input>
                            </div>
                            <input type="hidden" id="tinhTrangPhong" name="tinhTrangPhong" placeholder="Trạng thái">

                    </div>
                    <input type="hidden" id="moTaPhong" name="moTaPhong" disabled>
                    <input type="hidden" id="anhkhachsan" name="anhkhachsan" disabled>

                    <div class="button-group">
                        <button type="button" onclick="addRoom()">Thêm</button>
                        <button type="button" onclick="updateRoom()">Cập nhật</button>
                        <button type="button" onclick="deleteRoom()">Xóa</button>


                    </div>
                    </form>
                </div>
                <div class="table-section w-[75%] mt-3">
                    <div class="form-search mb-3">
                        <input type="text" id="search-loaiphong" placeholder="Tìm kiếm loại phòng">
                        <input type="text" id="search-sophong" placeholder="Tìm kiếm Số Phòng">
                        <button id="searchBtn" type="button">Tìm kiếm</button>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Tên loại phòng</th>
                                <th>Số phòng</th>
                                <th>Mô tả</th>
                            </tr>
                        </thead>
                        <tbody id="customer-list">
                            <tr data-id="6707ed79df6d7c9585d8baa" onclick="showHotelDetails(this)">

                            </tr>
                            <div id="pagination" class="pagination"></div>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="../js/base_url.js"></script>
    <script src="../js/phongnv.js"></script>

</body>

</html>