<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh Sách Đặt Phòng</title>
    <link rel="stylesheet" href="../css/lichsu.css">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <h2>StaySerene</h2>
            <ul>
                <li><a href="phanhoinv.html" id="phanhoi">Phản hồi của khách hàng</a></li>
                <li><a href="chamsocnv.html" id="chamsoc">Chăm sóc khách hàng</a></li>
                <li><a href="quanlydatphongnv.html" id="lichsu" class="namepage">Lịch sử đặt phòng</a></li>
                <li><a href="datphong.html" id="datphong">Đặt Phòng</a></li>
                <li><a href="phongnv.html" id="phong">Quản lý phòng</a></li>


                <li><a href="#" id="đăng xuất" onclick="confirmLogout(event)">Đăng xuất</a></li>

            </ul>
        </div>

        <div class="main-content" id="main-content">
            <div class="header">
                <div class="form-section">
                    <form id="customer-form">
                        <div class="button-group">
                            <div class="form-search">
                                <input type="text" id="search-madatphong" placeholder="Tìm kiếm Tên khách hàng">
                                <input type="text" id="search-tenkhachhang" placeholder="Tìm kiếm Số CCCD">
                                <input type="text" id="search-sophong" placeholder="Tìm kiếm số Phòng">
                                <button id="searchBtn" type="button">Tìm kiếm</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <table class="table-section">
                <thead>
                    <tr>
                        <th>Tên khách hàng</th>
                        <th>Số CCCD</th>
                        <th>Phòng</th>
                        <th>Thời gian đặt phòng</th>
                        <th>Thời gian nhận</th>
                        <th>Thời gian trả</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody id="customer-list">

                </tbody>
            </table>
        </div>
    </div>

    <script src="../js/quanlydatphongnv.js"></script>
</body>

</html>