<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh Sách Đặt Phòng</title>
    <link rel="stylesheet" href="../css/lichsu.css">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <h2>StaySerene</h2>
            <ul>
                <li><a href="phanhoinv.html"id="phanhoi">Phản hồi của khách hàng</a></li>
                <li><a href="chamsocnv.html" id="chamsoc" >Chăm sóc khách hàng</a></li>
                <li><a href="quanlydatphongnv.html" id="lichsu" class="namepage">Lịch sử đặt phòng</a></li>
                <li><a href="datphong.html" id="datphong" >Đặt Phòng</a></li>

                <li><a href="#" id="đăng xuất" onclick="confirmLogout(event)">Đăng xuất</a></li>

            </ul>
        </div>

        <div class="main-content" id="main-content">
            <div class="header">
                <h1>Lịch Sử Đặt Phòng</h1>
                <div class="form-section">
                    <form id="customer-form">
                        <div class="form-group">
                            <label for="uid">Mã đặt phòng :</label>
                            <input type="text" id="mdp" name="mdp" disabled>
                        </div>
                        <div class="form-group">
                            <label for="uid">Mã khách hàng :</label>
                            <input type="text" id="uid" name="uid" disabled>
                        </div>

                        <div class="form-group">
                            <label for="dichVu">Mã dịch vụ :</label>
                            <div class="form-maks">
                                <input type="text" id="dichVu" name="dichVu" >
                                <input type="text" id="tenDichVu" class="tenDichVu" placeholder="Tên dịch vụ">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="phong1">Mã phòng :</label>
                            <div class="form-maks">
                                <input type="text" id="phong1" name="phong1" >
                                <input type="text" id="soPhong" name="soPhong" readonly>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="thoiGianDat">Thời gian đặt phòng :</label>
                            <input type="text" id="thoiGianDat" name="thoiGianDat" >
                        </div>
                        <div class="form-group">
                            <label for="thoiGianNhan">Thời gian nhận :</label>
                            <input type="text" id="thoiGianNhan" name="thoiGianNhan" >
                        </div>
                        <div class="form-group">
                            <label for="thoiGianTra">Thời gian trả :</label>
                            <input type="text" id="thoiGianTra" name="thoiGianTra" >
                        </div>
                        <div class="form-group">
                            <label for="ghiChu">Ghi chú :</label>
                            <input type="text" id="ghiChu" name="ghiChu" disabled>
                        </div>
                        <div class="form-group">
                            <label for="trangThai">Trạng thái :</label>
                            <select id="trangThai" name="trangThai" placeholder="Trạng thái" autocomplete="off">
                                <option value="">Trạng thái đặt phòng</option>
                                <option value="0">Đã đặt cọc</option>
                                <option value="1">Đã trả phòng</option>
                                <option value="2">Đã hủy</option>
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="tongTien">Tổng tiền :</label>
                            <input type="text" id="tongTien" name="tongTien" disabled>
                        </div>

                        <div class="button-group">
                            <button type="button" onclick="editderroom()">Cập nhật</button>
                            <div class="form-search">

                                <input type="text" id="search-madatphong" placeholder="Tìm kiếm Mã Đặt Phòng">
                                <input type="text" id="search-makhachhang" placeholder="Tìm kiếm Mã Khách Hàng">
                                <input type="text" id="search-maphong" placeholder="Tìm kiếm Mã Phòng">

                                <button id="searchBtn" type="button">Tìm kiếm</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <table class="table-section">
                <thead>
                    <tr>
                        <th>Mã đặt phòng</th>
                        <th>Mã khách hàng</th>
                        <th>Phòng</th>
                        <th>Thời gian đặt phòng</th>
                        <th>Thời gian nhận</th>
                        <th>Thời gian trả</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody id="customer-list">

                </tbody>
            </table>
        </div>
    </div>

    <script src="../js/quanlydatphongnv.js"></script>
</body>

</html>