<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý Dịch Vụ</title>
    <link rel="stylesheet" href="../css/dichvu.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <div class="container">
        <div class="sidebar">
            <h2 class="font-extrabold text-2xl">StaySerene</h2>
            <ul>
                <li><a href="khachhang.html">Quản lý khách hàng</a></li>
                <li><a href="nhanvien.html">Quản lý nhân viên</a></li>
                <li><a href="khachsan.html" id="khachsan">Quản lý khách sạn</a></li>
                <li><a href="loaiphong.html" id="loaiphong">Quản lý loại phòng</a></li>
                <li><a href="phong.html" id="phong">Quản lý phòng</a></li>
                <li><a href="dichvu.html" class="namepage">Quản lý dịch vụ</a></li>
                <li><a href="thongke.html" id="thongke">Thống kê</a></li>
                <li><a href="#" id="đăng xuất" onclick="confirmLogout(event)">Đăng xuất</a></li>

            </ul>
        </div>

        <div class="main-content flex  gap-2 ">
            <div class="form-section w-[25%]">
                <form id="dichvu-form" class="grid grid-cols-1 mt-4">
                    <input type="text" style="height: 0px;width:0px" id="maDichVu">

                    <div class="form-group">
                        <label for="tenDichVu">Tên Dịch Vụ:</label>
                        <input type="text" id="tenDichVu" name="tenDichVu" required>
                    </div>

                    <div class="form-group">
                        <label for="giaDichVu">Giá Dịch Vụ:</label>
                        <input type="number" id="giaDichVu" name="giaDichVu" required>
                    </div>

                    <div class="form-group">
                        <label for="motaDichVu">Mô tả Dịch Vụ:</label>
                        <input type="text" id="motaDichVu" name="motaDichVu">
                    </div>

                    <div class="form-group">
                        <label for="anhDichVu">Ảnh Dịch Vụ:</label>
                        <input type="url" id="anhDichVu" name="anhDichVu">
                    </div>

                    <div class="button-group">
                        <button type="button" onclick="addDichVu()">Thêm</button>
                        <button type="button" onclick="editDichVu()">Sửa</button>
                        <button type="button" onclick="deleteDichVu()">Xóa</button>
                    </div>

                </form>
            </div>
            <div class="table-section w-[70%] mt-10">
                <table>
                    <thead>
                        <tr>
                            <th>Tên Dịch Vụ</th>
                            <th>Giá Dịch Vụ</th>
                            <th>Mô tả Dịch Vụ</th>
                            <th>Ảnh Dịch Vụ</th>


                        </tr>
                    </thead>
                    <tbody id="dichvu-list"></tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="../js/dichvu.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</body>

</html>