<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý khách hàng</title>
    <link rel="stylesheet" href="../css/khachhang.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <h2 class="font-extrabold text-2xl">StaySerene</h2>
            <ul>
                <li><a href="khachhang.html" id="khachhang" class="namepage">Quản lý khách hàng</a></li>
                <li><a href="nhanvien.html" id="nhanvien">Quản lý nhân viên</a></li>
                <li><a href="khachsan.html" id="khachsan">Quản lý khách sạn</a></li>
                <li><a href="loaiphong.html" id="loaiphong">Quản lý loại phòng</a></li>
                <li><a href="phong.html" id="phong">Quản lý phòng</a></li>
                <li><a href="dichvu.html" id="dichvu">Quản lý dịch vụ</a></li>
                <li><a href="thongke.html" id="thongke">Thống kê</a></li>
                <li><a href="#" id="đăng xuất" onclick="confirmLogout(event)">Đăng xuất</a></li>

            </ul>
        </div>

        <div class="main-content" id="main-content">
            <div class="main-content">
                <div class="form-section">
                    <form id="customer-form">

                        <div class="button-group">
                            <div class="form-search">
                                <input type="text" id="search-tkh" placeholder="Tìm kiếm Tên Khách Hàng">
                                <input type="text" id="search-mkh" placeholder="Tìm kiếm Số CCCD">
                                <input type="text" id="search-diachi" placeholder="Tìm kiếm Theo Địa Chỉ">
                                <button id="search-button">Tìm Kiếm</button>

                            </div>
                        </div>
                    </form>
                </div>

                <div class="table-section">
                    <table>
                        <thead>
                            <tr>
                                <th>Tên khách hàng</th>
                                <th>Số CCCD</th>
                                <th>Địa chỉ</th>
                                <th>SĐT</th>
                                <th>Giới tính</th>
                                <th>Ngày sinh</th>
                            </tr>
                        </thead>
                        <tbody id="list-tk">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/khach_hang.js"></script>
    
</body>

</html>