<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quan ly khach san</title>
    <link rel="stylesheet" href="../css/khachsan.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>StaySerene</h2>
            <ul>
                <li><a href="khachhang.html" id="khachhang" >Quản lý khách hàng</a></li>
                <li><a href="nhanvien.html" id="nhanvien">Quản lý nhân viên</a></li>
                <li><a href="khachsan.html" id="khachsan" class="namepage">Quản lý khách sạn</a></li>
                <li><a href="loaiphong.html"id="loaiphong">Quản lý loại phòng</a></li>
                <li><a href="phong.html"id="phong">Quản lý phòng</a></li>
                <li><a href="dichvu.html" id="dichvu" >Quản lý dịch vụ</a></li>
                <li><a href="thongke.html"id="thongke">Thống kê</a></li>
                <li><a href="#" id="đăng xuất" onclick="confirmLogout(event)">Đăng xuất</a></li>

            </ul>
        </div>
        
        <div class="main-content "  id="main-content">
            <div class="main-content flex  gap-2 mt-5">
                <div class="form-section w-[30%] ">
                    <form id="" class="grid grid-cols-1 mt-4" >
                        <div class="form-group">
                            <label for="tenkhachsan">Tên khách sạn :</label>
                            <input type="text" id="name" name="name">
                        </div>
    
                        <div class="form-group">
                            <label for="diachi">Địa chỉ :</label>
                            <input type="text" id="diachi" name="diachi">
                        </div>
    
                        <div class="form-group">
                            <label for="sdt">SĐT :</label>
                            <input type="text" id="sdt" name="sdt">
                        </div>
    
                        <div class="form-group">
                            <label for="email">Email :</label>
                            <input type="email" id="email" name="email">
                        </div>
    
                        <div class="form-group">
                            <label for="motakhachsan">Mô tả khách sạn :</label>
                            <input type="text" id="motakhachsan" name="motakhachsan">
                        </div>
    
                        <div class="form-group">
                            <label for="anhkhachsan">Ảnh khách sạn :</label>
                            <input type="url" id="anhkhachsan" name="anhkhachsan">
                        </div>
                        <input style="height: 0px; width: 0px;" type="text" id="makhachsan" name="makhachsan" disabled>
                        <div class="button-group text-xs flex items-end gap-2">
                            <button type="button" onclick="addCustomer()">Thêm</button>
                            <button type="button" onclick="editCustomer()">Cập nhật</button>
                            <button type="button" onclick="deleteCustomer()">Xóa</button>
                            
                        </div>
                    </form>
                </div>
    
                <div class="table-section">
                    <div class="form-search mb-2">
                        <label for="search" >Tìm kiếm:</label>
                        <input type="text" placeholder="Nhập tên khách sạn" id="search" name="search">
                    </div>
                    <table >
                        <thead>
                            <tr>
                                <th>Tên khách sạn</th>
                                <th>Địa chỉ</th>
                                <th>Hotline</th>
                                <th>Ảnh Khách sạn</th>
                            </tr>
                        </thead>
                        <tbody id="customer-list">
                            <tr data-id="6707ed79df6d7c9585d8baa" onclick="showHotelDetails(this)"> 
                                <td>Muong Thanh</td>
                                <td>Hà Nội</td>
                                <td>987654321</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                                <td><img src="image-url.jpg" alt="Hotel Image" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/khachsan.js"></script>
</body>
</html>