<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lịch Sử Đặt Phòng</title>
    <link rel="stylesheet" href="../css/lichsu.css">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <h2>StaySerene</h2>
            <ul>
                <li><a href="khachhang.html" id="khachhang">Quản lý khách hàng</a></li>
                <li><a href="nhanvien.html" id="nhanvien">Quản lý nhân viên</a></li>
                <li><a href="khachsan.html" id="khachsan">Quản lý khách sạn</a></li>
                <li><a href="loaiphong.html" id="loaiphong">Quản lý loại phòng</a></li>
                <li><a href="phong.html" id="phong">Quản lý phòng</a></li>
                <li><a href="dichvu.html" id="dichvu">Quản lý dịch vụ</a></li>
                <li><a href="lichsu.html" id="lichsu" class="namepage">Lịch sử đặt phòng</a></li>
                <li><a href="phanhoi.html" id="phanhoi">Phản hồi của khách hàng</a></li>
                <li><a href="chamsoc.html" id="chamsoc">Chăm sóc khách hàng</a></li>
                <li><a href="thongke.html" id="thongke">Thống kê</a></li>
            </ul>
        </div>

        <div class="main-content" id="main-content">
            <div class="header">
                <h2>Lịch Sử Đặt Phòng</h2>
            </div>

            <div class="booking-form">
                <input type="text" id="search" name="search" placeholder="Tìm kiếm" oninput="filterTable()">

                <label for="room-type">Tên phòng:</label>
                <input type="text" id="room-type" name="room-type" placeholder="Phòng gia đình">

                <label for="customer-name">Tên khách hàng:</label>
                <input type="text" id="customer-name" name="customer-name" placeholder="Trần Quang Khải">
            </div>

            <label for="booking-time">Thời gian đặt phòng:</label>
            <input type="date" id="booking-time" name="booking-time">
            <div class="total-section">
                <h3>Tổng tiền: <span id="total-amount">0 đ</span></h3>
            </div>
            <table class="table-section">
                <thead>
                    <tr>
                        <th>Mã phòng</th>
                        <th>Tên phòng</th>
                        <th>Mã KH</th>
                        <th>Tên khách hàng</th>
                        <th>Thời gian đặt phòng</th>
                        <th>Tổng tiền</th>
                    </tr>
                </thead>
                <tbody id="customer-list">
                    <!-- Hàng dữ liệu sẽ được thêm tự động từ JavaScript -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="../js/lichsu.js"></script>
</body>

</html>
