<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lịch Sử Đặt Phòng</title>
    <link rel="stylesheet" href="../css/lichsu.css">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <h2>StaySerene</h2>
            <ul>
                <li><a href="khachhang.html" id="khachhang">Quản lý khách hàng</a></li>
                <li><a href="nhanvien.html" id="nhanvien">Quản lý nhân viên</a></li>
                <li><a href="khachsan.html" id="khachsan">Quản lý khách sạn</a></li>
                <li><a href="loaiphong.html" id="loaiphong">Quản lý loại phòng</a></li>
                <li><a href="phong.html" id="phong">Quản lý phòng</a></li>
                <li><a href="dichvu.html" id="dichvu">Quản lý dịch vụ</a></li>
                <li><a href="lichsu.html" id="lichsu" class="namepage">Lịch sử đặt phòng</a></li>
                <li><a href="phanhoi.html" id="phanhoi">Phản hồi của khách hàng</a></li>
                <li><a href="chamsoc.html" id="chamsoc">Chăm sóc khách hàng</a></li>
                <li><a href="thongke.html" id="thongke">Thống kê</a></li>
            </ul>
        </div>

        <div class="main-content" id="main-content">
            <div class="header">
                <h1>Lịch Sử Đặt Phòng</h1>
                <div class="form-section">
                    <form id="customer-form">
                        <div class="form-group">
                            <label for="uid">Uid :</label>
                            <input type="text" id="uid" name="uid">
                        </div>

                        <div class="form-group">
                            <label for="dichVu">Dịch vụ :</label>
                            <input type="text" id="dichVu" name="dichVu">
                        </div>

                        <div class="form-group">
                            <label for="phong1">Phòng :</label>
                            <input type="text" id="phong1" name="phong1">
                        </div>

                        <div class="form-group">
                            <label for="thoiGianDat">Thời gian đặt phòng :</label>
                            <input type="text" id="thoiGianDat" name="thoiGianDat">
                        </div>
                        <div class="form-group">
                            <label for="thoiGianNhan">Thời gian nhận :</label>
                            <input type="text" id="thoiGianNhan" name="thoiGianNhan">
                        </div>
                        <div class="form-group">
                            <label for="thoiGianTra">Thời gian trả :</label>
                            <input type="text" id="thoiGianTra" name="thoiGianTra">
                        </div>
                        <div class="form-group">
                            <label for="ghiChu">Ghi chú :</label>
                            <input type="text" id="ghiChu" name="ghiChu">
                        </div>
                        <div class="form-group">
                            <label for="trangThai">Trạng thái :</label>
                            <input type="text" id="trangThai" name="trangThai">
                        </div>

                        <div class="form-group">
                            <label for="tongTien">Tổng tiền :</label>
                            <input type="text" id="tongTien" name="tongTien">
                        </div>

                        <div class="form-group">
                            <label for="anhDatPhong">Ảnh đặt phòng :</label>
                            <div style="
                                    flex-direction: row;
                                    display: flex;
                                    justify-content: start;
                                    align-items: center;
                                ">
                                <!-- Thêm thẻ img để hiển thị ảnh -->
                                <img id="hinhAnhDatPhong" src="" alt="Hình ảnh " style="width: 200px; height: auto; margin-left: 20px;">
                            </div>
                        </div>
                        

                        <div class="button-group">
                            <!-- <button type="button" onclick="themKH()">Thêm</button>
                            <button type="button" onclick="editCustomer()">Cập nhật</button>
                            <button type="button" onclick="deleteCustomer()">Xóa</button> -->
                            <div class="form-search">
                                <label >Tìm kiếm:</label>
                                <input type="text" id="search" name="search"  oninput="filterTable()">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <table class="table-section">
                <thead>
                    <tr>
                        <th>Uid</th>
                        <th>Dịch Vụ</th>
                        <th>Phòng</th>
                        <th>Thời gian đặt phòng</th>
                        <th>Thời gian nhận</th>
                        <th>Thời gian trả</th>
                        <th>Ghi chú</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                        <th>Ảnh đặt phòng</th>

                    </tr>
                </thead>
                <tbody id="customer-list">
                   
                    <!-- Hàng dữ liệu sẽ được thêm tự động từ JavaScript -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="../js/lichsu.js"></script>
</body>

</html>