<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lịch Sử Đặt Phòng</title>
    <link rel="stylesheet" href="../css/lichsu.css">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <h2>StaySerene</h2>
            <ul>
                <li><a href="khachhang.html" id="khachhang">Quản lý khách hàng</a></li>
                <li><a href="nhanvien.html" id="nhanvien">Quản lý nhân viên</a></li>
                <li><a href="khachsan.html" id="khachsan">Quản lý khách sạn</a></li>
                <li><a href="loaiphong.html" id="loaiphong">Quản lý loại phòng</a></li>
                <li><a href="phong.html" id="phong">Quản lý phòng</a></li>
                <li><a href="dichvu.html" id="dichvu">Quản lý dịch vụ</a></li>
                <li><a href="lichsu.html" id="lichsu" class="namepage">Lịch sử đặt phòng</a></li>
                <li><a href="thongke.html" id="thongke">Thống kê</a></li>
            </ul>
        </div>

        <div class="main-content" id="main-content">
            <div class="header">
                <h1>Lịch Sử Đặt Phòng</h1>
                <div class="form-section">
                    <form id="customer-form">
                        <div class="form-group">
                            <label for="uid">Mã đặt phòng :</label>
                            <input type="text" id="mdp" name="mdp" disabled>
                        </div>
                        <div class="form-group">
                            <label for="uid">Mã khách hàng :</label>
                            <input type="text" id="uid" name="uid" disabled>
                        </div>

                        <div class="form-group">
                            <label for="dichVu">Mã dịch vụ :</label>
                            <div class="form-maks">
                                <input type="text" id="dichVu" name="dichVu" >
                                <select type="text" id="tenDichVu" class="tenDichVu" placeholder="Tên dịch vụ"
                                    autocomplete="off" >
                                    <option value="">Chọn dịch vụ</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="phong1">Mã phòng :</label>
                            <input type="text" id="phong1" name="phong1" disabled>
                        </div>

                        <div class="form-group">
                            <label for="thoiGianDat">Thời gian đặt phòng :</label>
                            <input type="text" id="thoiGianDat" name="thoiGianDat" disabled>
                        </div>
                        <div class="form-group">
                            <label for="thoiGianNhan">Thời gian nhận :</label>
                            <input type="text" id="thoiGianNhan" name="thoiGianNhan" disabled>
                        </div>
                        <div class="form-group">
                            <label for="thoiGianTra">Thời gian trả :</label>
                            <input type="text" id="thoiGianTra" name="thoiGianTra" disabled>
                        </div>
                        <div class="form-group">
                            <label for="ghiChu">Ghi chú :</label>
                            <input type="text" id="ghiChu" name="ghiChu" disabled>
                        </div>
                        <div class="form-group">
                            <label for="trangThai">Trạng thái :</label>
                            <select id="trangThai" name="trangThai" placeholder="Trạng thái" autocomplete="off">
                                <option value="">Trạng thái đặt phòng</option>
                                <option value="0">Đã đặt cọc</option>
                                <option value="1">Đã trả phòng</option>
                                <option value="2">Đã hủy</option>
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="tongTien">Tổng tiền :</label>
                            <input type="text" id="tongTien" name="tongTien" disabled>
                        </div>

                        <div class="button-group">
                            <button type="button" onclick="editderroom()">Cập nhật</button>
                            <button type="button" onclick="addOrderroom()">Thêm mới</button>
                            <div class="form-search">

                                <input type="text" id="search-madatphong" placeholder="Tìm kiếm Mã Đặt Phòng">
                                <input type="text" id="search-makhachhang" placeholder="Tìm kiếm Mã Khách Hàng">
                                <input type="text" id="search-maphong" placeholder="Tìm kiếm Mã Phòng">

                                <button id="searchBtn" type="button">Tìm kiếm</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <table class="table-section">
                <thead>
                    <tr>
                        <th>Mã đặt phòng</th>
                        <th>Mã khách hàng</th>
                        <th>Phòng</th>
                        <th>Thời gian đặt phòng</th>
                        <th>Thời gian nhận</th>
                        <th>Thời gian trả</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody id="customer-list">

                </tbody>
            </table>
        </div>
    </div>

    <script src="../js/lichsu.js"></script>
</body>

</html>