<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quan ly loai phong</title>
    <link rel="stylesheet" href="../css/loaiphong.css">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <h2>StaySerene</h2>
            <ul>
                <li><a href="khachhang.html" id="khachhang">Quản lý khách hàng</a></li>
                <li><a href="nhanvien.html" id="nhanvien">Quản lý nhân viên</a></li>
                <li><a href="khachsan.html" id="khachsan">Quản lý khách sạn</a></li>
                <li><a href="loaiphong.html" id="loaiphong" class="namepage">Quản lý loại phòng</a></li>
                <li><a href="phong.html" id="phong">Quản lý phòng</a></li>
                <li><a href="dichvu.html" id="dichvu">Quản lý dịch vụ</a></li>
                <li><a href="lichsu.html" id="lichsu">Lịch sử đặt phòng</a></li>
                <li><a href="thongke.html" id="thongke">Thống kê</a></li>
            </ul>
        </div>

        <div class="main-content" id="main-content">
            <div class="main-content">
                <h1>Quản lý loại phòng</h1>
                <div class="form-section">
                    <form id="customer-form">
                        <div class="form-group">
                            <label for="maloaiphong">Mã loại phòng :</label>
                            <input type="text" id="maloaiphong" name="maloaiphong" disabled>
                        </div>

                        <div class="form-group">
                            <label for="makhachsan">Thông tin khách sạn :</label>
                            <div class="form-maks">
                                <input type="text" id="makhachsan" class="makhachsan" placeholder="Nhập mã khách sạn" />
                                <select type="text" id="tenkhachsan" class="tenkhachsan" placeholder="Tên khách sạn"
                                    autocomplete="off">
                                    <option value="">Chọn khách sạn</option>
                                </select>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="tenloaiphong">Tên loại phòng :</label>
                            <input type="text" id="tenloaiphong" name="tenloaiphong">
                        </div>

                        <div class="form-group">
                            <label for="motaloaiphong">Mô tả loại phòng :</label>
                            <input type="text" id="motaloaiphong" name="motaloaiphong">
                        </div>

                        <div class="form-group">
                            <label for="anhloaiphong">Ảnh loại phòng :</label>
                            <input type="text" id="anhloaiphong" name="anhloaiphong">
                        </div>

                        <div class="form-group">
                            <label for="soluongphong">Số lượng phòng :</label>
                            <input type="number" id="soluongphong" name="soluongphong">
                        </div>

                        <div class="form-group">
                            <label for="giaLoaiPhong">Giá Loại Phòng:</label>
                            <input type="number" id="giaLoaiPhong" name="giaLoaiPhong" step="0.01" required>
                        </div>

                        <div class="form-group">
                            <label for="tiennghi">Tiện nghi :</label>
                            <input type="text" id="tiennghi" name="tiennghi">
                        </div>

                        <div class="button-group">
                            <button type="button" onclick="addTyperoom()">Thêm</button>
                            <button type="button" onclick="editTyperoom()">Cập nhật</button>
                            <button type="button"
                                onclick="deleteTyperoom(document.getElementById('maloaiphong').value)">Xóa</button>
                            <div class="form-search">
                                <input type="text" id="search-maloaiphong" placeholder="Tìm kiếm Mã Loại Phòng">
                                <input type="text" id="search-makhachsan" placeholder="Tìm kiếm Mã Khách Sạn">
                                <input type="text" id="search-tenloaiphong" placeholder="Tìm kiếm Tên Loại Phòng">
                                <button id="search-button">Tìm Kiếm</button>

                            </div>
                        </div>
                    </form>
                </div>

                <div class="table-section">
                    <h3>Danh sách loại phòng</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Mã loại phòng</th>
                                <th>Mã khách sạn</th>
                                <th>Tên loại</th>
                                <th>Số lượng</th>
                                <th>Ảnh loại phòng</th>
                            </tr>
                        </thead>
                        <tbody id="typeroom-list">
                            <tr data-id="6707f2a4676a25b7900e503a" onclick="showTypeRoomDetails(this)">
                                <td>6707f2a4676a25b7900e503a</td>
                                <td>6707ed79df6d7c9585d8ebaa</td>
                                <td>Phòng đơn</td>
                                <td>10</td>
                                <td><img src="image-url.jpg" alt="Hotel Image" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/loaiphong.js"></script>
</body>

</html>