<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý Nhân Viên</title>
    <link rel="stylesheet" href="../css/nhanvien.css">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <h2>StaySerene</h2>
            <ul>
                <li><a href="khachhang.html" id="khachhang">Quản lý khách hàng</a></li>
                <li><a href="nhanvien.html" class="namepage" id="nhanvien">Quản lý nhân viên</a></li>
                <li><a href="khachsan.html" id="khachsan">Quản lý khách sạn</a></li>
                <li><a href="loaiphong.html" id="loaiphong">Quản lý loại phòng</a></li>
                <li><a href="phong.html" id="phong">Quản lý phòng</a></li>
                <li><a href="dichvu.html" id="dichvu">Quản lý dịch vụ</a></li>
                <li><a href="lichsu.html" id="lichsu">Lịch sử đặt phòng</a></li>
                <li><a href="phanhoi.html" id="phanhoi">Phản hồi của khách hàng</a></li>
                <li><a href="chamsoc.html" id="chamsoc">Chăm sóc khách hàng</a></li>
                <li><a href="thongke.html" id="thongke">Thống kê</a></li>
            </ul>
        </div>

        <div class="main-content" id="main-content">
            <div class="main-content">
                <h1>Quản lý khách sạn</h1>
                <div class="form-section">
                    <form id="customer-form">
                        <div class="form-group">
                            <div style="display: flex; flex-direction: row; ">
                                <div class="form-group">
                                    <label for="ID-nv">Mã Nhân Viên :</label>
                                    <input type="text" id="ID-nv" name="ID-nv" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="ID-hotel">Mã khách sạn :</label>
                                    <input type="text" id="ID-ks" name="ID-ks">
                                </div>
                            </div>

                        </div>


                        <div class="form-group">
                            <label for="tenkhachsan">Tên Nhân Viên :</label>
                            <input type="text" id="username" name="username">
                        </div>

                        <div class="form-group">
                            <label for="diachi">CCCD :</label>
                            <input type="text" id="cccd" name="cccd">
                        </div>

                        <div class="form-group">
                            <label for="diachi">SĐT:</label>
                            <input type="text" id="sdt" name="sdt">
                        </div>
                        <div class="form-group">
                            <label for="anhkhachsan">Ảnh Nhân Viên :</label>
                            <input type="url" id="anhNhanVien" name="anhnhanvien">
                        </div>
                        <div class="form-group">
                            <label for="motakhachsan">Pass Word :</label>
                            <input type="text" id="password" name="password">
                        </div>
                        <div class="form-group">
                            <label for="email">Email :</label>
                            <input type="email" id="email" name="email">
                        </div>

                        <div class="form-group">
                            <label for="danhgia">Giờ làm :</label>
                            <input type="text" id="gioLam" name="gioLam">
                        </div>
                        <div class="button-group">
                            <button type="button" onclick="addCustomernhanvien()">Thêm</button>
                            <button id="updateButton" type="button" onclick="editCustomernhanvien()">Cập nhật</button>
                            <button type="button" onclick="deleteNhanVien()">Xóa</button>
                            <div class="form-search">
                                <button id="search-button">Tìm Kiếm</button>

                                <input type="text" id="searchnhanvien" name="search">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="table-section">
                    <h3>Danh sách nhân viên</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Mã Nhân Viên</th>
                                <th>Mã Khách Sạn</th>
                                <th>Tên Nhân Viên</th>
                                <th>SĐT</th>
                                <th>CCCD</th>
                                <th>Email</th>
                                <th>Password</th>
                                <th>Giờ làm </th>
                                <th>Ảnh nhân viên </th>
                            </tr>
                        </thead>
                        <tbody id="customer-list">
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/nhanvien.js"></script>

</body>

</html>