<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Management</title>
    <link rel="stylesheet" href="../css/phong.css">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <h2>StaySerene</h2>
            <ul>
                <li><a href="khachhang.html" id="khachhang">Quản lý khách hàng</a></li>
                <li><a href="nhanvien.html" id="nhanvien">Quản lý nhân viên</a></li>
                <li><a href="khachsan.html" id="khachsan">Quản lý khách sạn</a></li>
                <li><a href="loaiphong.html" id="loaiphong">Quản lý loại phòng</a></li>
                <li><a href="phong.html" id="phong" class="namepage">Quản lý phòng</a></li>
                <li><a href="dichvu.html" id="dichvu">Quản lý dịch vụ</a></li>
                <li><a href="thongke.html" id="thongke">Thống kê</a></li>
                <li><a href="#" id="đăng xuất" onclick="confirmLogout(event)">Đăng xuất</a></li>

            </ul>
        </div>

        <div class="main-content" id="main-content">
            <div class="main-content">
                <h1>Quản lý phòng khách sạn</h1>
                <div class="form-section">
                    <form id="customer-form">
                        <input type="text" id="maphong" style="width: 0px;height: 0px;" name="maphong" disabled>
                        <input type="text" id="makhachsan" style="width: 0px;height: 0px;" class="makhachsan" placeholder="Nhập mã khách sạn"
                                    disabled />
                        <div class="form-group">
                            <label for="khachsan">Khách sạn :</label>
                            <div class="form-maks">
                                <select type="text" id="tenkhachsan" class="tenkhachsan" placeholder="Tên khách sạn"
                                    autocomplete="off">
                                    <option value="">Chọn khách sạn</option>
                                </select>
                                <select type="text" id="tenloaiphong" class="tenloaiphong" placeholder="Tên loại phòng"
                                    autocomplete="off">
                                    <option value="">Chọn Loại Phòng</option>
                                </select>
                            </div>
                        </div>

                        <input type="hidden" id="maloaiphong" class="maloaiphong" />

                        <div class="form-group">
                            <label for="phong">Phòng:</label>
                            <div class="form-maks">
                                <input type="number" id="sophong" class="sophong" placeholder="Nhập Số phòng" />
                                <input type="number" id="sotang" class="soTang" placeholder="Số tầng">
                                </input>
                            </div>
                        </div>
                            <input type="hidden" id="tinhTrangPhong" name="tinhTrangPhong" placeholder="Trạng thái">
                              
                        </div>
                            <input type="hidden" id="moTaPhong" name="moTaPhong" disabled>
                            <input type="hidden" id="anhkhachsan" name="anhkhachsan" disabled>

                        <div class="button-group">
                            <button type="button" onclick="addRoom()">Thêm</button>
                            <button type="button" onclick="updateRoom()">Cập nhật</button>
                            <button type="button" onclick="deleteRoom()">Xóa</button>
                            <div class="form-search">
                                <input type="text" id="search-maphong" placeholder="Tìm kiếm Tên Loại Phòng">
                                <input type="text" id="search-tenloaiphong" placeholder="Tìm kiếm Tên Khách Sạn">
                                <input type="text" id="search-sophong" placeholder="Tìm kiếm Số Phòng">
                                <button id="searchBtn" type="button">Tìm kiếm</button>
                            </div>

                        </div>
                    </form>
                </div>

                <div class="table-section">
                    <h3> </h3>
                    <h3>Danh sách phòng khách sạn</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Tên loại phòng</th>
                                <th>Tên khách sạn</th>
                                <th>Số phòng</th>
                            </tr>
                        </thead>
                        <tbody id="customer-list">
                            <tr data-id="6707ed79df6d7c9585d8baa" onclick="showHotelDetails(this)">

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/phong.js"></script>

</body>

</html>