<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thống kê</title>
    <link rel="stylesheet" href="../css/thongke.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>StaySerene</h2>
            <ul>
                <li><a href="khachhang.html" id="khachhang">Quản lý khách hàng</a></li>
                <li><a href="nhanvien.html" id="nhanvien">Quản lý nhân viên</a></li>
                <li><a href="khachsan.html" id="khachsan">Quản lý khách sạn</a></li>
                <li><a href="loaiphong.html" id="loaiphong">Quản lý loại phòng</a></li>
                <li><a href="phong.html" id="phong">Quản lý phòng</a></li>
                <li><a href="dichvu.html" id="dichvu">Quản lý dịch vụ</a></li>
                <li><a href="lichsu.html" id="lichsu">Lịch sử đặt phòng</a></li>
                <li><a href="thongke.html" id="thongke" class="namepage">Thống kê</a></li>
                <li><a href="#" id="đăng xuất" onclick="confirmLogout(event)">Đăng xuất</a></li>

            </ul>
        </div>
        <div class="main-content" id="main-content">
            <div class="header">
                <h1>Thống kê doanh thu</h1>
                <div class="form-section">
                    <div class="button-group">
                        <form id="customer-form">
                            <div class="form-group">
                                <select type="text" id="tenKhachsan" class="tenKhachsan" autocomplete="off">
                                    <option value="">Chọn Khách sạn</option>
                                </select>
                            </div>
                        </form>
                        <button type="button" onclick="fetchRevenueByYear()">Thông kê theo năm</button>
                        <button type="button" onclick="fetchRevenueByQuarter()">Thông kê theo quý</button>
                        <button type="button" onclick="fetchRevenueByMonth()">Thông kê theo tháng</button>
                        <button type="button" onclick="fetchRevenueByRoomType()">Thông kê theo loại phòng</button>
                        <button type="button" onclick="fetchRevenueBySeason()">Thống kê theo mùa</button>
                        <button type="button" onclick="fetchRevenueByHotel()">Thống kê theo khách sạn</button>
                    </div>
                </div>
                <div class="bieudo">
                    <canvas id="bieudoCot" width="1250px" height="550px"></canvas>

                </div>
            </div>
        </div>
    </div>
    <script src="../js/thongke.js"></script>
</body>
</html>
