<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Hosting api StaySerene</h1>
    <h3>Xem tk: <a href=" http://localhost:3000/api/account">http://localhost:3000/api/account</a></h3>
    <h3>Xem phòng: <a href=" http://localhost:3000/api/rooms">http://localhost:3000/api/rooms</a></h3>
    <h3>Xem loại phòng: <a href=" http://localhost:3000/api/typeroom">http://localhost:3000/api/typeroom</a></h3>
    <h3>Xem khách sạn: <a href=" http://localhost:3000/api/hotel">http://localhost:3000/api/hotel</a></h3>
</body> 

</html>