<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Role Selection</title>
    <link rel="stylesheet" href="html/css/welcome.css">
</head>
<body>
    <div class="container">
        <h1>Chào mừng bạn đến</h1>
        <h2>Bạn là ai?</h2>
        <div class="role-selection">
            <a class="role-button" href="html/htmlnhanvien/dangnhapnv.html">Nhân viên</a>
            <a class="role-button" href="html/management/dangnhap.html">Quản lý </a>
        </div>
    </div>
    <script src="html/js/welcome.js"></script>
</body>
</html>