<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website quản trị</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>StaySerene</h2>
            <ul>
                <li><a id="khachhang" >Quản lý khách hàng</a></li>
                <li><a id="nhanvien">Quản lý nhân viên</a></li>
                <li><a id="khachsan">Quản lý khách sạn</a></li>
                <li><a id="loaiphong">Quản lý loại phòng</a></li>
                <li><a id="phong">Quản lý phòng</a></li>
                <li><a id="dichvu">Quản lý dịch vụ</a></li>
                <li><a id="lichsu">Lịch sử đặt phòng</a></li>
                <li><a id="phanhoi">Phản hồi của khách hàng</a></li>
                <li><a id="chamsoc">Chăm sóc khách hàng</a></li>
                <li><a id="thongke">Thống kê</a></li>
            </ul>
        </div>
        
        <div class="main-content" id="main-content">
        </div>
    </div>

    <script src="../js/main.js"></script>
</body>
</html>
